@page "/data-sources"
@inherits BasePageComponent
@using Beacon.Core.Models.DataSources
@using Beacon.Core.Services
@inject IDataSourceService _service
@inject IDialogService DialogService
@inject Beacon.Core.Authorization.IBeaconAuthorizationProvider AuthorizationProvider
@using Beacon.UI.Components.Custom

<BeaconPageTitle Title="Data Sources"/>

<div class="@RootClass">
    <BeaconPageHero Variant="nodes"
                    Prefix="Configure"
                    Emphasis="data"
                    Suffix="sources.">
        <Eyebrow>
            <span>Beacon</span>
            <span class="page-hero__sep">/</span>
            <span>Data Sources</span>
        </Eyebrow>
        <Sub>Manage your database data sources and connections.</Sub>
        <Actions>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Outlined.Add" OnClick="@AddDataSource" Disabled="@(!_canWrite)">New Data Source</MudButton>
        </Actions>
    </BeaconPageHero>
    <MudCard Elevation="2">
        <MudDataGrid @ref="_dataGrid" ServerData="ServerReload" T="DataSourceListData" Hover="true" Filterable="false" SortMode="SortMode.None" Bordered="false">
        <Columns>
            <PropertyColumn Property="x => x.Name" Title="Name"/>
            <PropertyColumn Property="x => x.DataSourceType" Title="Type"/>
            <TemplateColumn Title="Engine">
                <CellTemplate>
                    @if (context.Item.DatabaseEngineType.HasValue)
                    {
                        <text>@context.Item.DatabaseEngineType.Value</text>
                    }
                    else
                    {
                        <MudChip Size="Size.Small" Color="Color.Info">@context.Item.DataSourceType</MudChip>
                    }
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.Queries.Count" Title="Queries"/>
            <PropertyColumn Property="x => x.MigrationJobsCount" Title="Migrations"/>
            <TemplateColumn Title="Actions" Sortable="false">
                <CellTemplate>
                    <MudButton Size="Size.Small"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               Href="@($"data-sources/{context.Item.Id}")"
                               StartIcon="@Icons.Material.Filled.Info">
                        Details
                    </MudButton>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
            <PagerContent>
                <MudDataGridPager T="DataSourceListData"/>
            </PagerContent>
        </MudDataGrid>
    </MudCard>
</div>

@code {

    private List<DataSourceListData> _list;
    MudDataGrid<DataSourceListData>? _dataGrid;
    private bool _loading;
    private bool _canWrite;

    protected override async Task OnInitializedAsync()
    {
        _canWrite = await AuthorizationProvider.HasWritePermissionAsync();
    }

    private async Task<GridData<DataSourceListData>> ServerReload(GridState<DataSourceListData> state, CancellationToken cancellationToken)
    {
        _list = await _service.GetDataSources(null, CancellationToken.None);

        return new GridData<DataSourceListData>
        {
            TotalItems = _list.Count(),
            Items = _list
        };
    }

    private async Task AddDataSource()
    {
        var options = await CreateResponsiveDialogOptions();
        var dataSource = new DataSourceData();

        var parameters = new DialogParameters<AddDataSourceDialog> { { x => x.DataSource, dataSource } };

        var dialog = await DialogService.ShowAsync<AddDataSourceDialog>("", parameters, options);

        var result = await dialog.Result;

        if (result!.Canceled)
        {
            return;
        }
        
        // TODO: we could just reload the subscriptions instead of the whole page
        await _dataGrid?.ReloadServerData();
    }
}